.input-wrapper{
  padding: 0.5em;
  width: 100%;
}

.site-layout-content {
  min-height: 100vh;
}

.responsive-wrapper {
  display: flex;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.json-wrapper {
  width: 100%;
  padding: 0.5em;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  .responsive-wrapper {
    flex-direction: column;
  }
  
  .responsive-block {
    width: 100%;
  }

  .site-layout-content {
    padding: 16px;
  }
  .input-wrapper{
    width: 100%;
  }
}

/* Small devices */
@media only screen and (min-width: 600px) {
  .responsive-wrapper {
    flex-direction: column;
  }
  
  .responsive-block {
    width: 100%;
  }

  .site-layout-content {
      padding: 24px;
    }
  
  .input-wrapper{
    width: 50%;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .responsive-block {
    width: 50%;
  }

  .responsive-wrapper {
    flex-direction: row;
  }

  .site-layout-content {
      padding: 48px;
    }
  
  .input-wrapper{
    width: 33%;
  }
}

/* Large devices */
@media only screen and (min-width: 992px) {
  .responsive-block {
    width: 50%;
  }

  .responsive-wrapper {
    flex-direction: row;
  }

  .site-layout-content {
    padding: 72px;
  }
  
  .input-wrapper{
    width: 25%;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  .responsive-block {
    width: 50%;
  }

  .responsive-wrapper {
    flex-direction: row;
  }

  .input-wrapper{
    width: 20%;
  }
}